name: Continuous Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: SSH and deploy app
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}       # IP server UpCloud
        username: ${{ secrets.SSH_USERNAME }} # root atau user lain
        key: ${{ secrets.SSH_KEY }}         # private key
        port: ${{ secrets.SSH_PORT }}       
        script: |
          cd ~/Forum_API
          git pull origin main
          npm install
          npm run migrate up
          pm2 restart forum-api